.classrooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.classrooms h2 {
    color: white;
}

.classroom-button {
    width: 200px;
    background-color: green;
    border-radius: 5px;
    background: transparent;
    border: 1px solid;
}

.classy-button {
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
}