.welcome-section {
  margin-top: 80px;
}

.user-container {
  width: 200px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid black;
  margin-left: 20px;
  align-items: center;
}

<<<<<<< HEAD
  .timer {
    margin-top: 70px;
  }

  .audio-style {
    margin-top: 100px;
  }
=======
.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer {
  margin-top: 70px;
}

.timer {
  margin-top: 70px;
}

html {
  background: url("../../components/GamePage/game-images/3159a5068468238.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.audio-style {
  margin-top: 100px;
}
>>>>>>> ec8fae44cbab7754cd52fdf6595da9e8ba2c7eab
