@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  padding: 5px;
  background-color: rgba(68, 164, 6, 0.9);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}