.form-container {
  width: 300px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

.background {
  display: flex;
  justify-content: center;
} 

/*
html {
  background: url('../../img/sleepingtiger.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
*/

h1 {
    color: #FFFF;
}

input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
}

.align-form {
  text-align: left;
  line-height: 0;
  color: white;
}

.submit-button {
  height:40px;
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: white;
}
