

.form-container {
  width: 300px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(34, 41, 72);
  box-shadow: 0 0 10px black;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif; 
}

@media only screen and (max-width: 500px) {
  .form-container {
      width: 100%;
      box-shadow: none;
  }
}

.background {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

/*
html {
  background: url('../../img/sleepingtiger.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
*/

h1 {
    color: #FFFF;
}

input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  color: white;
}

.align-form {
  text-align: left;
  line-height: 0;
  color: white;
}

.submit-button {
  height:40px;
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 7px;
  border: 1px solid rgb(68, 164, 6);
  background-color: rgb(68, 164, 6);
  color: white;
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
}

.submit-button:hover {
  background: rgb(34, 41, 72);
  border: 1px solid white;
  box-shadow: 0 0 10px white;
}
